<div class="ticker-wrap">
  <div class="ticker">
    <div class="ticker__item">
      <span>100% Plant based</span>
      <span>Diary free</span>
      <span>PACKED WITH FLAVOUR</span>
      <span>100% Plant based</span>
      <span>Diary free</span>
      <span>PACKED WITH FLAVOUR</span>
      <span>100% Plant based</span>
      <span>Diary free</span>
      <span>PACKED WITH FLAVOUR</span>
    </div>
    <div class="ticker__item">
      <span>100% Plant based</span>
      <span>Diary free</span>
      <span>PACKED WITH FLAVOUR</span>
      <span>100% Plant based</span>
      <span>Diary free</span>
      <span>PACKED WITH FLAVOUR</span>
      <span>100% Plant based</span>
      <span>Diary free</span>
      <span>PACKED WITH FLAVOUR</span>
    </div>
  </div>
</div>