<div class="bg-emerald-900 w-full">
  <div class="flex flex-col justify-center items-center text-center uppercase text-white font-montserrat font-black text-13xl leading-tight tracking-tight pt-20 overflow-hidden">
    <h1 class="">
      <span>a feast for</span>
    </h1>
    <div class="absolute left-[calc(50%-(600px/2))] top-[calc(50%-600px/2.75)]">
      <div>
        <img class="w-[600px]" src="./../../../../assets/img/bowl-of-food.png"/>
      </div>
    </div>
    <h1 class="z-10">your mind</h1>
  </div>

  <div class="w-full overflow-hidden pt-24 pb-14">
    <div class="logos-carousel">
      <div class="cards">
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo1.jpg" class="card">
        </div>
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo2.jpg" class="card">
        </div>
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo3.png" class="card"> 
        </div>
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo4.jpg" class="card">
        </div>
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo5.jpg" class="card">
        </div>
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo6.png" class="card">
        </div>
      </div>
      <div class="cards">
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo1.jpg" class="card">
        </div>
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo2.jpg" class="card">
        </div>
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo3.png" class="card"> 
        </div>
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo4.jpg" class="card">
        </div>
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo5.jpg" class="card">
        </div>
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo6.png" class="card">
        </div>
      </div>
      <div class="cards">
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo1.jpg" class="card">
        </div>
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo2.jpg" class="card">
        </div>
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo3.png" class="card"> 
        </div>
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo4.jpg" class="card">
        </div>
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo5.jpg" class="card">
        </div>
        <div class="card-wrapper">
          <img src="./../../../../assets/img/food logos/logo6.png" class="card">
        </div>
      </div>
    </div>
  </div>
</div>