<div class="header-wrapper bg-emerald-800">
  <header class="w-full">
    <div class="w-full">
      <ul class="flex justify-between text-lg uppercase text-white list-none roboto-condensed-black-900">
        <li class="px-2"><a class="navigation-btn" routerLink="services">about</a></li>
        <li class="px-2"><a class="navigation-btn" routerLink="projects">products</a></li>
        <li class="px-2"><a class="navigation-btn" routerLink="projects"><img src="./../../../../../assets/icons/eatFurious.svg" /></a></li>
        <li class="px-2"><a class="navigation-btn" routerLink="projects">recipes</a></li>
        <li class="px-2"><a class="navigation-btn" routerLink="contact">test</a></li>
      </ul>  
    </div>
  </header>

</div>
